<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite"  thread-count="3" parallel="none">
    <test name="ChromeTest">
        <parameter name="browser" value="chrome" />
        <classes>
			
			
            <class name="scripts.signIn" />
           
           
      </classes>
    </test>
    <test name="FirefoxTest">
        <parameter name="browser" value="firefox" />
        <classes>
			
            <class name="scripts.signIn" />
            
            
        </classes>
    </test>
    <test name="EdgeTest">
        <parameter name="browser" value="edge" />
        <classes>
			
            <class name="scripts.signIn" />
            
        </classes>
    </test>
</suite>